<!DOCTYPE html>
<html lang="en">
  <%- include("./partials/head.ejs") %>
  <body>
    <div class="top-container">
      <div class="page-title">Deleted</div>
    </div>
  </body>
  <script>
    function redirectToIndex() {
      window.location.href = "/index";
    }
    setTimeout(redirectToIndex, 3000);
  </script>
</html>
