:root {
  --md-source: #006534;
  /* primary */
  --primary0: #000000;
  --primary10: #00210d;
  --primary20: #00391b;
  --primary25: #004522;
  --primary30: #005229;
  --primary35: #006031;
  --primary40: #006d39;
  --primary50: #2a874f;
  --primary60: #48a267;
  --primary70: #64bd7f;
  --primary80: #7fda99;
  --primary90: #9af6b3;
  --primary95: #c3ffcf;
  --primary98: #eaffea;
  --primary99: #f5fff3;
  --primary100: #ffffff;
  /* secondary */
  --secondary0: #000000;
  --secondary10: #281800;
  --secondary20: #442c00;
  --secondary25: #523600;
  --secondary30: #614000;
  --secondary35: #704b00;
  --secondary40: #805600;
  --secondary50: #a06d00;
  --secondary60: #c18505;
  --secondary70: #e09f2a;
  --secondary80: #ffba44;
  --secondary90: #ffddaf;
  --secondary95: #ffeedb;
  --secondary98: #fff8f3;
  --secondary99: #fffbff;
  --secondary100: #ffffff;
  /* neutral */
  --neutral0: #000000;
  --neutral10: #191c19;
  --neutral20: #2e312e;
  --neutral25: #393c39;
  --neutral30: #454744;
  --neutral35: #50534f;
  --neutral40: #5c5f5b;
  --neutral50: #757874;
  --neutral60: #8f918d;
  --neutral70: #aaaca7;
  --neutral80: #c5c7c2;
  --neutral90: #e1e3de;
  --neutral95: #f0f1ec;
  --neutral98: #f9faf5;
  --neutral99: #fbfdf7;
  --neutral100: #ffffff;
  /* error */
  --error0: #000000;
  --error10: #410002;
  --error20: #690005;
  --error25: #7e0007;
  --error30: #93000a;
  --error35: #a80710;
  --error40: #ba1a1a;
  --error50: #de3730;
  --error60: #ff5449;
  --error70: #ff897d;
  --error80: #ffb4ab;
  --error90: #ffdad6;
  --error95: #ffedea;
  --error98: #fff8f7;
  --error99: #fffbff;
  --error100: #ffffff;
  /* light */
  --primary-light: #006d39;
  --on-primary-light: #ffffff;
  --primary-container-light: #9af6b3;
  --on-primary-container-light: #00210d;
  --secondary-light: #805600;
  --on-secondary-light: #ffffff;
  --secondary-container-light: #ffddaf;
  --on-secondary-container-light: #281800;
  --tertiary-light: #006d39;
  --on-tertiary-light: #ffffff;
  --tertiary-container-light: #9af6b3;
  --on-tertiary-container-light: #00210d;
  --error-light: #ba1a1a;
  --error-container-light: #ffdad6;
  --on-error-light: #ffffff;
  --on-error-container-light: #410002;
  --background-light: #fbfdf7;
  --on-background-light: #191c19;
  --surface-light: #fbfdf7;
  --on-surface-light: #191c19;
  --surface-variant-light: #dde5db;
  --on-surface-variant-light: #414941;
  --outline-light: #717971;
  --inverse-on-surface-light: #f0f1ec;
  --inverse-surface-light: #2e312e;
  --inverse-primary-light: #7fda99;
  --shadow-light: #000000;
  --surface-tint-light: #006d39;
  --outline-variant-light: #c1c9bf;
  --scrim-light: #000000;
  /* dark */
  --primary-dark: #7fda99;
  --on-primary-dark: #00391b;
  --primary-container-dark: #005229;
  --on-primary-container-dark: #9af6b3;
  --secondary-dark: #ffba44;
  --on-secondary-dark: #442c00;
  --secondary-container-dark: #614000;
  --on-secondary-container-dark: #ffddaf;
  --tertiary-dark: #7fda99;
  --on-tertiary-dark: #00391b;
  --tertiary-container-dark: #005229;
  --on-tertiary-container-dark: #9af6b3;
  --error-dark: #ffb4ab;
  --error-container-dark: #93000a;
  --on-error-dark: #690005;
  --on-error-container-dark: #ffdad6;
  --background-dark: #191c19;
  --on-background-dark: #e1e3de;
  --surface-dark: #191c19;
  --on-surface-dark: #e1e3de;
  --surface-variant-dark: #414941;
  --on-surface-variant-dark: #c1c9bf;
  --outline-dark: #8b938a;
  --inverse-on-surface-dark: #191c19;
  --inverse-surface-dark: #e1e3de;
  --inverse-primary-dark: #006d39;
  --shadow-dark: #000000;
  --surface-tint-dark: #7fda99;
  --outline-variant-dark: #414941;
  --scrim-dark: #000000;
}

a {
  text-decoration: none;
  color: inherit;
}

body {
  margin: 0px;
  font-family: "Roboto", sans-serif;
  background-color: var(--surface-variant-light);
}

.top-container {
  margin: 0px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.page-title {
  font-size: 700%;
  padding: 32px;
  text-align: center;
  font-weight: 200;
}

.entries-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
}

.animal-container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 400px;
  height: 200px;
  background-color: var(--surface-light);
  color: var(--on-primary-dark);
  margin: 24px;
}

.animal-name-container {
  padding: 16px;
  height: 100%;
}

.species-label {
  font-size: 80%;
}

.species {
  font-size: 200%;
}

.animal-location-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 8px 16px;
  background-color: var(--primary90);
  color: var(--primary10);
}

.location-label {
  font-size: 80%;
}

.location {
  font-weight: 700;
}

.index-buttons-container {
  display: flex;
  justify-content: space-around;
  width: 100%;
  text-align: center;
}

.index-buttons-container > {
  display: flex;
  align-items: center;
  justify-content: center;
}

.edit-button,
#update {
  background-color: var(--primary-container-dark);
  color: var(--primary-dark);
  width: 50%;
  padding: 8px;
  transition: 0.3s ease-in-out;
  border: none;
  font-size: 1em;
}

.delete-button {
  background-color: var(--error-container-dark);
  color: var(--error-dark);
  width: 50%;
  padding: 8px;
  transition: 0.3s ease-in-out;
  border: none;
  font-size: 1em;
}

#delete-animal {
  background-color: var(--error-container-dark);
  color: var(--error-dark);
  width: 100%;
  padding: 8px;
  transition: 0.3s ease-in-out;
  border: none;
  font-size: 1em;
}

.cancel-button {
  background-color: var(--error-container-dark);
  color: var(--error-dark);
  width: 50%;
  padding: 8px;
  transition: 0.3s ease-in-out;
}

.edit-button:hover,
#update:hover {
  color: var(--primary-container-dark);
  background-color: var(--primary-dark);
  transition: 0.3s ease-in-out;
}

.delete-button:hover,
#delete-animal:hover {
  color: var(--error-container-dark);
  background-color: var(--error-dark);
  transition: 0.3s ease-in-out;
}

.index-form {
  width: 50%;
}

.animal-details-container {
  width: 100%;
  display: flex;
  flex-direction: column;
  margin: 36px 0px;
}

.show-location-container,
.show-extinct-container,
.show-lifespan-container {
  width: 100%;
  display: flex;
  flex-direction: row;
  padding: 10px 0px;
  font-size: 150%;
}

.show-location-label,
.show-extinct-label,
.show-lifespan-label {
  width: 50%;
  text-align: right;
  padding-right: 1ch;
  box-sizing: border-box;
}

.show-location,
.show-extinct,
.show-lifespan {
  width: 50%;
  text-align: left;
  padding-left: 1ch;
  box-sizing: border-box;
}

.show-buttons-container {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  width: 100svw;
  max-width: 500px;
  margin: 36px auto;
}

.edit-species {
  font-size: 110%;
  width: 100%;
  text-align: center;
  font-weight: 100;
}

.edit-data {
  font-size: 100%;
  width: 50%;
}

.back-button {
  display: flex;
  justify-content: center;
}

.back-button a {
  padding: 12px 24px;
  background-color: var(--neutral100);
}
